*{
    margin: 0;
    padding: 0;
}

.navigation{ 
    font-family: var(--font1);
    height: 74px;
    /* background-color: rgb(195, 230, 237); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
font-size: 30px;
display: flex;
padding:10px 15px;
}

.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 18px;
}

.nav-left ul li a{
    text-decoration: none;
    color:black ;
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a:hover{
    font-weight: bold;
    color: var(--main-bg-color);
 }

.content{
    height: 325px;
    background-color: rgb(239, 216, 218);
    display: flex;
    margin-top: 1px;
}

.content-left{
font-family: var(--font2);
display: flex;
flex-direction: column;
justify-content: center;
}

.content-left h1,p{
    padding-left: 15px;
}

.content-right{
display: flex;
align-items: center;
justify-content: center;
}

.content-right img{
height: 300px;
border: 2px solid black;
border-radius: 20px;
margin: 10px 50px;
}

.home-articles{
background-color: rgb(239, 216, 218); 
padding-top: 12px;
margin-top: 1px;
position: relative;
}

.home-articles h2{
    padding-left: 20px;
}


/* .year-box{
    position: absolute;
    right: 50;
    top: 0px;
    width: 234px;
    height: 255px;
}*/
 
.home-article{
display: flex;
}

.home-article img{
    width: 300px;
    border-radius: 10px;
    height: 200px;
    margin:20px;
    border: 1px solid black;
}

.home-article-content{
    align-self: center;
    padding:25px;
}

.home-article-content a{
    text-decoration: none;
    color: black;
}
/* .home-articles{} */
.footer{
    height: 50px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    /* padding-top: 12px; */
}

.footer a{
    color: white;
}



h4{
text-align: center;

}